.card {
    display: flex;
    align-items: center;
    background-color: #2a9d8f;
    width: 500px;
    height: 250px;
    margin: 30px;
    border-radius: 30px;
    justify-content: center;
    -webkit-box-shadow: 17px 18px 20px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 17px 18px 20px -4px rgba(0,0,0,0.75);
    box-shadow: 17px 18px 20px -4px rgba(0,0,0,0.75);
}

.card_img img {
    width: 200px;
    height: 200px;
}

.card h1 {
    margin-left: 15px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}